<blockquote class="quote">
    <p class="quote__text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae in facilis accusamus qui cumque quo sint? Dignissimos suscipit, doloribus laborum qui praesentium ullam quos nostrum nobis quia sapiente reprehenderit quasi veritatis autem quidem facilis
        ad?</p>
    <footer>
        <div class="media">
            <div class="media__image">
                <svg class="icon icon--primary quote__Line">
                            <use xlink:href="images/sprite.svg#line"></use>
                          </svg>
            </div>
            <div class="media__body">
                <h3 class="media__title quote__author">John Smith</h3>
                <p class="quote__company">ABC Company</p>
            </div>
        </div>
    </footer>
</blockquote>